<header>
    <div id="header-name" style="margin-left: 3vh;">
        <h1 style="font-family: verdana; ">
            Codeial
        </h1>
    </div>
    <div id="link-to-pages">
        <ul style="list-style-type: none;">
            <% if(locals.user) { %>       
               <li>
                   <a style="text-decoration: none;" href="/users/profile/<%= u.id %>"><h4 style="font-family: verdana; ;"><%= user.name %></h4></a>
               </li>
               <li>
                   <a style="text-decoration: none;" href="/users/sign-out"><h4 style="font-family: verdana;">Sign Out</h4></a>
               </li>
            <% } else { %>
                <li>
                    <a style="text-decoration: none;" href="/users/sign-in"><h4 style="font-family: verdana;">Sign In</h4></a>
                </li>
                <li>
                    <a style="text-decoration: none;" href="/users/sign-up"><h4 style="font-family: verdana;">Sign Up</h4></a>
                </li>
    
            <% } %>    
    
        </ul>
    </div>

</header>