<h1 style="font-family: verdana;text-align: center;">Sign Up</h1>

<form style="text-align: center;margin-top: 3vw;" action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>&nbsp&nbsp&nbsp&nbsp
    <input type="email" name="email" placeholder="Your Email" required>&nbsp&nbsp&nbsp&nbsp
    <input type="password" name="password" placeholder="Password" required>&nbsp&nbsp&nbsp&nbsp
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">
</form>
 
<p>
    <a href="/users/auth/google">Googel Sign In/Sign Up</a>
</p>