header{
    // background: khaki;
    height: 5vw;
    display: flex;

    #header-name{
        width: 88%;
        padding-bottom: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    #link-to-pages{
        width: 12%;
        margin-top: -1.5vh;
    }
    
}